.App {
  text-align: center;
}

h1{
  margin: 0;
}
.header{
  background-color: #192a56;
  padding: 14px;
  color: white;
}
.container{
  background-color: aqua;
}
.data{
  width: 100%;
  box-shadow: rgba(100,100,111,0.2) 0px 7px 29px 0px;
}

